<div class="container">
    <div class="row">
        <div class="col-6  border">
    <h1>Enter Quiz</h1>
    <form action="">
    <div class="form-group">
      <label for=""></label>
      <input type="text"
        class="form-control" [(ngModel)]="code"       name="Code" id=""  placeholder="Code">
    </div>

    <div class="form-group">
      <label for=""></label>
      <input type="text"
        class="form-control" [(ngModel)]="name" name="Name"  placeholder="Name">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>
</div>